@media (max-width: 500px) {
  .navigation {
    ul:first-child {
      display: none;
    }

    ul.nav-mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      z-index: 20;

      li {
        a {
          font-size: 2rem;
        }
      }
    }
  }

  .carousel-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    height: 350px;

    .carousel {
      width: 100%;
      height: 100%;

      .info {
        padding: 10px;

        .title {
          font-size: 1.2rem;
        }

        .des {
          font-size: 0.8rem;
        }
      }
    }

    .btns {
      display: none;
    }
  }

  .features {
    margin-top: 360px;

    .wrap {
      grid-template-columns: 1fr;
    }
  }

  .works {
    .des {
      padding: 0 10px;
    }

    .work-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      :nth-child(even) {
        grid-column: 1 / 3;
      }

      :nth-child(odd) {
        grid-column: 3 / 5;
      }

      :first-child {
        grid-column: 2 / 4;
      }

      .work-item {
        text-align: center;
      }
    }

    .images {
      grid-template-columns: 1fr;
      .wrap-img {
        .img-info {
          i {
            font-size: 6rem;
          }
        }
      }
    }
  }

  .facts {
    .wrap {
      grid-template-columns: 1fr;
      gap: 25px;

      section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;

        .info {
          justify-items: start;
          width: 100%;

          .num {
            font-size: 1.5rem;
          }

          .des {
            font-size: 1rem;
          }
        }

      }
    }
  }

  .modal#modal-features {
    min-width: 300px;
    min-height: 200px;

    .modal-content {
      min-width: 300px;
      min-height: 400px;
    }
  }

  .modal#modal-contact {
    top: 50%;
    left: 50%;

    .modal-content {
      min-width: 80vw;
      min-height: 400px;

      .main {
        margin: 10px;
        .head {
          .title {
            font-size: 1.4rem;
          }

          .des {
            font-size: 0.8rem;
          }
        }

        .body {
          form {
            input,
            textarea {
              width: 90%;
              padding: 10px 0 10px 10px;
              margin-bottom: 10px;
              height: 20px;
              font-size: 1rem;
            }
          }

          .btn-submit {
            font-size: 1rem;
            margin-bottom: 10px;
          }
        }
      }

      .sidebar {
        position: absolute;
        top: -10%;
        left: -30%;
        background-color: $primary;
        color: $dark;
        max-width: 300px;
        border-radius: 0px 0px 30px 30px;
        box-shadow: $shadow;
        display: none;

        .head {
          margin-left: 0;
        }

        .body {
          .info {
            padding: 0 10px 0 20px;
            list-style: none;

            li {
              padding: 10px 5px;
              display: flex;
              align-items: center;
              justify-content: start;

              i {
                font-size: 1.2rem;
                margin-right: 10px;
              }

              span {
                font-size: 1rem;
              }
            }
          }

          .icon {
            display: flex;
            margin: 20px auto;
            list-style: none;
            justify-content: space-around;

            li {
              i {
                font-size: 1.5rem;
                border: 1px solid $dark;
                text-align: center;
                padding: 10px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 501px) and (max-width: 712px) {
  .navigation {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .carousel-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    height: 350px;

    .info {
      padding: 10px;

      .title {
        font-size: 1.2rem;
      }

      .des {
        font-size: 0.8rem;
      }
    }
  }

  .features {
    margin-top: 360px;

    .wrap {
      grid-template-columns: 1fr;

      section {
        height: 350px;

        .head {
          font-size: 1.8rem;

          i {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .works {
    .des {
      padding: 0 10px;
    }

    .images {
      grid-template-columns: repeat(2, 1fr);

      .wrap-img {
        .img-info {
          i {
            font-size: 5rem;
          }
        }
      }
    }
  }

  .facts {
    .wrap {
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }
  }

  .modal#modal-contact {
    top: 50%;
    left: 50%;

    .modal-content {
      min-width: 400px;

      .main {
        margin: 20px;
      }

      .sidebar {
        top: unset;
        left: 35%;
        bottom: 7px;
        border-radius: unset;
        background-color: unset;
        border: unset;
        box-shadow: unset;

        .head {
          display: none;
        }

        .body {
          .info {
            display: none;
          }

          .icon {
            margin: unset;
            color: $light;

            li {
              margin: 20px;

              i {
                font-size: 2rem;
                border: unset;
              }
            }
          }
        }
      }
    }
  }

  .modal#modal-features {
    width: 70vw;

    .modal-content {
      max-width: 70vw;
    }
  }
}

@media (min-width: 713px) and (max-width: 956px) {
  .navigation {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .features {
    // margin-top: 360px;

    .wrap {
      grid-template-columns: 1fr 1fr;
    }
  }

  .works {
    .des {
      padding: 0 10px;
    }

    .images {
      grid-template-columns: repeat(2, 1fr);

      .wrap-img {
        .img-info {
          i {
            font-size: 5rem;
          }
        }
      }
    }
  }

  .facts {

    .wrap {
      grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
      margin: auto 0;

      section {
        font-size: 1.4rem;

        .info {
          .des {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .modal#modal-contact {
    top: 54%;
    left: 58%;

    .modal-content {
      min-width: 500px;

      .main {
        .body {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

          form {
            input,
            textarea {
              width: 330px;
            }
          }
        }
      }

      .sidebar {
        top: -10%;
        left: -30%;
        max-width: 250px;

        .head {
          margin-left: 0;
        }

        .body {
          .info {
            padding: 0 10px 0 5px;

            li {
              i {
                font-size: 1rem;
                margin-right: 10px;
              }

              span {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .modal#modal-features {
    width: 80vw;

    .modal-content {
      max-width: unset;
      max-height: unset;
    }
  }
}
