@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

body {
  background: #333333;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #a3e4d7;
  border-radius: 2px;
}

h3 {
  margin: 30px;
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  margin: 10px auto;
  max-width: 90%;
  width: 1280px;
}

.navigation ul {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: -ms-grid;
  display: grid;
  text-align: center;
  text-transform: uppercase;
}

.navigation ul li a {
  font-size: 1.4rem;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.816);
  font-weight: bold;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navigation ul li:hover a {
  background: #a3e4d7;
  color: #333333;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation ul li:last-child a {
  background-color: #a3e4d7;
  color: #333333;
}

.navigation ul li:last-child:hover a {
  background-color: rgba(255, 255, 255, 0.816);
}

.navigation ul.nav-mobile {
  display: none;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 500px;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  margin: auto;
}

.carousel-container .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity ease-in 1s;
  transition: opacity ease-in 1s;
}

.carousel-container .carousel .info {
  position: absolute;
  bottom: 50px;
  background: rgba(0, 0, 0, 0.55);
  padding: 20px;
  color: rgba(255, 255, 255, 0.816);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.carousel-container .carousel .info .title {
  font-size: 2rem;
}

.carousel-container .carousel:first-child {
  background: url("https://source.unsplash.com/random/801x600") no-repeat center center/cover;
}

.carousel-container .carousel:nth-child(2) {
  background: url("https://source.unsplash.com/random/802x600") no-repeat center center/cover;
}

.carousel-container .carousel:nth-child(3) {
  background: url("https://source.unsplash.com/random/803x600") no-repeat center center/cover;
}

.carousel-container .carousel:nth-child(4) {
  background: url("https://source.unsplash.com/random/804x600") no-repeat center center/cover;
}

.carousel-container .carousel:nth-child(5) {
  background: url("https://source.unsplash.com/random/805x600") no-repeat center center/cover;
}

.carousel-container .carousel.current {
  opacity: 1;
}

.carousel-container .carousel.current .info {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.carousel-container .btns {
  position: absolute;
  bottom: 10px;
  left: 40%;
  right: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-container .btns button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.carousel-container .btns button i {
  background-color: rgba(0, 0, 0, 0.5);
  color: #a3e4d7;
  font-size: 1.4rem;
  padding: 5px 15px;
}

.carousel-container .btns button i:hover {
  background-color: rgba(255, 255, 255, 0.816);
  color: #333333;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.816);
}

.features .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.features .wrap section {
  border: none;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  background: #333333;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.features .wrap section .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-size: 1.4rem;
}

.features .wrap section .head i {
  font-size: 1.2rem;
  padding: 10px;
  border: 1px solid #a3e4d7;
  border-radius: 500px;
  margin-right: 10px;
}

.features .wrap section .des {
  font-size: 1rem;
  padding: 0 10px 10px;
  text-align: center;
  overflow: auto;
  max-height: 300px;
}

.features .wrap section .read-more {
  font-size: 0.8rem;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #333333;
  color: #a3e4d7;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.features .wrap section .read-more:hover {
  background: #a3e4d7;
  color: #333333;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features .wrap section:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works {
  color: rgba(255, 255, 255, 0.816);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works .des {
  font-size: 1rem;
  padding: 0 20px 10px;
  text-align: center;
  max-width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.works .work-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 5px;
}

.works .work-list .work-item {
  font-size: 0.9rem;
  padding: 7px 15px;
  border-radius: 20px;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.works .work-list .work-item:hover {
  cursor: pointer;
  background: #a3e4d7;
  color: #333333;
}

.works .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.works .images img {
  width: 100%;
  height: 100%;
}

.works .images .wrap-img {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.works .images .wrap-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works .images .wrap-img:hover .img-info {
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.works .images .wrap-img .img-info {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  opacity: 0;
}

.works .images .wrap-img .img-info i {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.816);
}

.works .images .wrap-img .img-info i:hover {
  color: rgba(255, 0, 132, 0.816);
}

.facts {
  color: rgba(255, 255, 255, 0.816);
  width: 100%;
  min-height: 400px;
  background: url("https://source.unsplash.com/random/810x600") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  border-radius: 5px;
}

.facts .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 0.5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 0.5fr));
  gap: 10px;
  margin: 20px 0 10px 0;
}

.facts .wrap section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facts .wrap section .icon {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.facts .wrap section .icon svg {
  position: absolute;
}

.facts .wrap section .icon svg circle {
  stroke-dasharray: 150;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.facts .wrap section .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
}

.facts .wrap section .icon:hover {
  -webkit-box-shadow: 0 0 20px #a3e4d7;
          box-shadow: 0 0 20px #a3e4d7;
  background-color: #a3e4d7;
  color: #333333;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.facts .wrap section .icon:hover svg circle {
  stroke-dasharray: 220;
  stroke: #333333;
}

.facts .wrap section .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.facts .wrap section .info .num {
  font-size: 2.5rem;
}

.facts .wrap section .info .des {
  font-size: 1rem;
}

.footer {
  color: rgba(255, 255, 255, 0.816);
}

.footer .author {
  color: #a3e4d7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  z-index: 100;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 0.5;
  background: #a3e4d7;
  pointer-events: all;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #333333;
  color: rgba(255, 255, 255, 0.816);
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  border-radius: 12px;
}

.modal-content .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.modal-content .head .icon i {
  font-size: 1.7rem;
  border: 1px solid #a3e4d7;
  border-radius: 500px;
  padding: 10px 11px;
  margin-right: 20px;
}

.modal-content .head .title {
  font-size: 2rem;
  font-weight: bold;
  width: 70%;
}

.modal-content .head .btn-close-modal {
  position: absolute;
  top: 0;
  right: 10px;
  outline: none;
  background: none;
  color: rgba(255, 255, 255, 0.816);
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
}

.modal-content .head .btn-close-modal:hover {
  color: #a3e4d7;
}

.modal-content .body {
  overflow-y: auto;
}

.modal#modal-features .modal-content {
  max-width: 50vw;
  max-height: 70vh;
  position: relative;
}

.modal#modal-features .modal-content .des {
  padding: 5px;
  margin: 0 20px;
  font-size: 1.2rem;
  text-align: center;
  overflow: auto;
  max-height: 250px;
  overflow: auto;
}

.modal#modal-features .modal-content .btn-more {
  width: 30%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  border: 1px solid #a3e4d7;
  border-radius: 5px;
  margin: 10px auto;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.816);
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 50px;
}

.modal#modal-features .modal-content .btn-more:hover {
  background: #a3e4d7;
  color: #333333;
}

.modal#modal-navigation .modal-content {
  min-width: 300px;
  min-height: 450px;
}

.modal#modal-navigation .modal-content .head .title.name-user {
  font-size: 1.2rem;
  font-weight: normal;
}

.modal#modal-navigation .modal-content .head .title.name-user .sign-in {
  cursor: pointer;
}

.modal#modal-navigation .modal-content .head .title.name-user .sign-in:hover {
  color: #a3e4d7;
}

.modal#modal-navigation .modal-content .head .title.name-user .sign-up {
  border: 1px solid #a3e4d7;
  border-radius: 10px;
  margin-left: 10px;
  padding: 15px 10px;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.modal#modal-navigation .modal-content .head .title.name-user .sign-up:hover {
  background-color: #a3e4d7;
  color: #333333;
}

.modal#modal-navigation .modal-content .body {
  margin: 20px 0 auto 25px;
}

.modal#modal-navigation .modal-content .body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-size: 2rem;
}

.modal#modal-navigation .modal-content .body ul li {
  padding: 10px 0 10px 40px;
  position: relative;
  cursor: pointer;
}

.modal#modal-navigation .modal-content .body ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  border-style: solid;
  border-width: 10px 10px;
  border-color: transparent transparent transparent cyan;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  opacity: 0;
}

.modal#modal-navigation .modal-content .body ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.816);
}

.modal#modal-navigation .modal-content .body ul li:hover::after {
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  opacity: 1;
}

.modal#modal-navigation .modal-content .body ul li:hover a {
  color: #a3e4d7;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.modal#modal-contact {
  top: 53%;
  left: 56%;
}

.modal#modal-contact .modal-content {
  min-width: 600px;
}

.modal#modal-contact .modal-content .main {
  margin-left: 25%;
}

.modal#modal-contact .modal-content .main .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  margin-left: 0;
}

.modal#modal-contact .modal-content .main .head .title {
  font-weight: normal;
  font-size: 2rem;
  color: #a3e4d7;
}

.modal#modal-contact .modal-content .main .head .des {
  font-size: 1rem;
  font-style: italic;
}

.modal#modal-contact .modal-content .main .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal#modal-contact .modal-content .main .body form input,
.modal#modal-contact .modal-content .main .body form textarea {
  width: 400px;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  color: #a3e4d7;
  border-radius: 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  height: 30px;
  font-size: 1.2rem;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  resize: none;
}

.modal#modal-contact .modal-content .main .body form input::-webkit-input-placeholder,
.modal#modal-contact .modal-content .main .body form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.816);
  font-size: 1rem;
}

.modal#modal-contact .modal-content .main .body form input:-ms-input-placeholder,
.modal#modal-contact .modal-content .main .body form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.816);
  font-size: 1rem;
}

.modal#modal-contact .modal-content .main .body form input::-ms-input-placeholder,
.modal#modal-contact .modal-content .main .body form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.816);
  font-size: 1rem;
}

.modal#modal-contact .modal-content .main .body form input::placeholder,
.modal#modal-contact .modal-content .main .body form textarea::placeholder {
  color: rgba(255, 255, 255, 0.816);
  font-size: 1rem;
}

.modal#modal-contact .modal-content .main .body form input:focus,
.modal#modal-contact .modal-content .main .body form textarea:focus {
  border: 1px solid #a3e4d7;
}

.modal#modal-contact .modal-content .main .body form .form-mess {
  height: 100px;
  position: relative;
}

.modal#modal-contact .modal-content .main .body form .form-mess::-webkit-input-placeholder {
  position: absolute;
}

.modal#modal-contact .modal-content .main .body form .form-mess:-ms-input-placeholder {
  position: absolute;
}

.modal#modal-contact .modal-content .main .body form .form-mess::-ms-input-placeholder {
  position: absolute;
}

.modal#modal-contact .modal-content .main .body form .form-mess::placeholder {
  position: absolute;
}

.modal#modal-contact .modal-content .main .body .btn-submit {
  width: 100px;
  padding: 7px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.816);
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.modal#modal-contact .modal-content .main .body .btn-submit:hover {
  background-color: #a3e4d7;
  color: #333333;
}

.modal#modal-contact .modal-content .sidebar {
  position: absolute;
  top: -10%;
  left: -30%;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.816);
  max-width: 300px;
  border-radius: 0 0 30px 30px;
  -webkit-box-shadow: 1px 2px 5px #48c9af59;
          box-shadow: 1px 2px 5px #48c9af59;
  border: 1px solid #333333;
}

.modal#modal-contact .modal-content .sidebar .head {
  margin-left: 0;
}

.modal#modal-contact .modal-content .sidebar .body .info {
  padding: 0 10px 0 20px;
  list-style: none;
}

.modal#modal-contact .modal-content .sidebar .body .info li {
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: transparent;
}

.modal#modal-contact .modal-content .sidebar .body .info li i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.modal#modal-contact .modal-content .sidebar .body .info li span {
  font-size: 1rem;
}

.modal#modal-contact .modal-content .sidebar .body .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal#modal-contact .modal-content .sidebar .body .icon li {
  cursor: pointer;
  border-radius: 50%;
  border: transparent;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.modal#modal-contact .modal-content .sidebar .body .icon li i {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.modal#modal-contact .modal-content .sidebar .body .icon li:hover {
  background-color: #a3e4d7;
  -webkit-box-shadow: 0 0 10px #a3e4d7;
          box-shadow: 0 0 10px #a3e4d7;
}

.modal#modal-contact .modal-content .sidebar .body .icon li:hover i {
  color: #333333;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sticky-nav a {
  padding: 10px;
}

@media (max-width: 500px) {
  .navigation ul:first-child {
    display: none;
  }
  .navigation ul.nav-mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 20;
  }
  .navigation ul.nav-mobile li a {
    font-size: 2rem;
  }
  .carousel-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    height: 350px;
  }
  .carousel-container .carousel {
    width: 100%;
    height: 100%;
  }
  .carousel-container .carousel .info {
    padding: 10px;
  }
  .carousel-container .carousel .info .title {
    font-size: 1.2rem;
  }
  .carousel-container .carousel .info .des {
    font-size: 0.8rem;
  }
  .carousel-container .btns {
    display: none;
  }
  .features {
    margin-top: 360px;
  }
  .features .wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .works .des {
    padding: 0 10px;
  }
  .works .work-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .works .work-list :nth-child(even) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .works .work-list :nth-child(odd) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / 5;
  }
  .works .work-list :first-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  .works .work-list .work-item {
    text-align: center;
  }
  .works .images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .works .images .wrap-img .img-info i {
    font-size: 6rem;
  }
  .facts .wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 25px;
  }
  .facts .wrap section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
  .facts .wrap section .info {
    justify-items: start;
    width: 100%;
  }
  .facts .wrap section .info .num {
    font-size: 1.5rem;
  }
  .facts .wrap section .info .des {
    font-size: 1rem;
  }
  .modal#modal-features {
    min-width: 300px;
    min-height: 200px;
  }
  .modal#modal-features .modal-content {
    min-width: 300px;
    min-height: 400px;
  }
  .modal#modal-contact {
    top: 50%;
    left: 50%;
  }
  .modal#modal-contact .modal-content {
    min-width: 80vw;
    min-height: 400px;
  }
  .modal#modal-contact .modal-content .main {
    margin: 10px;
  }
  .modal#modal-contact .modal-content .main .head .title {
    font-size: 1.4rem;
  }
  .modal#modal-contact .modal-content .main .head .des {
    font-size: 0.8rem;
  }
  .modal#modal-contact .modal-content .main .body form input,
  .modal#modal-contact .modal-content .main .body form textarea {
    width: 90%;
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
    height: 20px;
    font-size: 1rem;
  }
  .modal#modal-contact .modal-content .main .body .btn-submit {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .modal#modal-contact .modal-content .sidebar {
    position: absolute;
    top: -10%;
    left: -30%;
    background-color: #a3e4d7;
    color: #333333;
    max-width: 300px;
    border-radius: 0px 0px 30px 30px;
    -webkit-box-shadow: 1px 2px 5px #48c9af59;
            box-shadow: 1px 2px 5px #48c9af59;
    display: none;
  }
  .modal#modal-contact .modal-content .sidebar .head {
    margin-left: 0;
  }
  .modal#modal-contact .modal-content .sidebar .body .info {
    padding: 0 10px 0 20px;
    list-style: none;
  }
  .modal#modal-contact .modal-content .sidebar .body .info li {
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .modal#modal-contact .modal-content .sidebar .body .info li i {
    font-size: 1.2rem;
    margin-right: 10px;
  }
  .modal#modal-contact .modal-content .sidebar .body .info li span {
    font-size: 1rem;
  }
  .modal#modal-contact .modal-content .sidebar .body .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .modal#modal-contact .modal-content .sidebar .body .icon li i {
    font-size: 1.5rem;
    border: 1px solid #333333;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
  }
}

@media (min-width: 501px) and (max-width: 712px) {
  .navigation ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .carousel-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    height: 350px;
  }
  .carousel-container .info {
    padding: 10px;
  }
  .carousel-container .info .title {
    font-size: 1.2rem;
  }
  .carousel-container .info .des {
    font-size: 0.8rem;
  }
  .features {
    margin-top: 360px;
  }
  .features .wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .features .wrap section {
    height: 350px;
  }
  .features .wrap section .head {
    font-size: 1.8rem;
  }
  .features .wrap section .head i {
    font-size: 1.4rem;
  }
  .works .des {
    padding: 0 10px;
  }
  .works .images {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .works .images .wrap-img .img-info i {
    font-size: 5rem;
  }
  .facts .wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .modal#modal-contact {
    top: 50%;
    left: 50%;
  }
  .modal#modal-contact .modal-content {
    min-width: 400px;
  }
  .modal#modal-contact .modal-content .main {
    margin: 20px;
  }
  .modal#modal-contact .modal-content .sidebar {
    top: unset;
    left: 35%;
    bottom: 7px;
    border-radius: unset;
    background-color: unset;
    border: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .modal#modal-contact .modal-content .sidebar .head {
    display: none;
  }
  .modal#modal-contact .modal-content .sidebar .body .info {
    display: none;
  }
  .modal#modal-contact .modal-content .sidebar .body .icon {
    margin: unset;
    color: rgba(255, 255, 255, 0.816);
  }
  .modal#modal-contact .modal-content .sidebar .body .icon li {
    margin: 20px;
  }
  .modal#modal-contact .modal-content .sidebar .body .icon li i {
    font-size: 2rem;
    border: unset;
  }
  .modal#modal-features {
    width: 70vw;
  }
  .modal#modal-features .modal-content {
    max-width: 70vw;
  }
}

@media (min-width: 713px) and (max-width: 956px) {
  .navigation ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .features .wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .works .des {
    padding: 0 10px;
  }
  .works .images {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .works .images .wrap-img .img-info i {
    font-size: 5rem;
  }
  .facts .wrap {
    -ms-grid-columns: (minmax(100px, 0.5fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    margin: auto 0;
  }
  .facts .wrap section {
    font-size: 1.4rem;
  }
  .facts .wrap section .info .des {
    font-size: 0.8rem;
  }
  .modal#modal-contact {
    top: 54%;
    left: 58%;
  }
  .modal#modal-contact .modal-content {
    min-width: 500px;
  }
  .modal#modal-contact .modal-content .main .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal#modal-contact .modal-content .main .body form input,
  .modal#modal-contact .modal-content .main .body form textarea {
    width: 330px;
  }
  .modal#modal-contact .modal-content .sidebar {
    top: -10%;
    left: -30%;
    max-width: 250px;
  }
  .modal#modal-contact .modal-content .sidebar .head {
    margin-left: 0;
  }
  .modal#modal-contact .modal-content .sidebar .body .info {
    padding: 0 10px 0 5px;
  }
  .modal#modal-contact .modal-content .sidebar .body .info li i {
    font-size: 1rem;
    margin-right: 10px;
  }
  .modal#modal-contact .modal-content .sidebar .body .info li span {
    font-size: 1rem;
  }
  .modal#modal-features {
    width: 80vw;
  }
  .modal#modal-features .modal-content {
    max-width: unset;
    max-height: unset;
  }
}
/*# sourceMappingURL=style.css.map */